<div data-options="dxView : { name: 'About', title: 'Laticínios Aviação', pane: 'master' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">Aplicativo de Apontamento de Pedidos</p>

            <p style="padding: 5px"></p>
            <p style="padding: 5px">Versão 1.6.0</p>

            <p style="padding: 5px">Desenvolvido por: 4t Sistemas Ltda.</p>
        </div>
    </div>
</div>